/* Mobile (Smartphone) max-width: 480px. Low Resolution Tablets and ipads max-width: 767px. */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

:root{
  --background: #f7fbfd;
  --primary: #0a65a4;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background);
  margin-bottom: 50px;
  font-family: 'Fredoka', sans-serif;
}